:root {
  --color-1: #f7ca36;
  --color-2: #fda085;
  --color-warning: #ff6f47;
  --color-success: #4fd23b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, var(--color-1), var(--color-2));
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.todo-input {
  display: block;
  border-radius: 0;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  background: white;
}

/* filters */
.todo-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.todo-filter {
  background: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.todo-filter.active {
  background: var(--color-success);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

/* todo item styling */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.todo-item {
  /* What the hell ? */
  flex: 1;
  padding: 0 1rem;
}

.trash-btn,
.complete-btn {
  background: var(--color-warning);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: var(--color-success);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
